@model IEnumerable<StatNav.WebApplication.Models.ExperimentIteration>
@{
   
}
<table class="table">
    <caption>List of Experiment Iterations</caption>
    <tr>
        @if (ViewBag.Sortable != null)
        {
            @Html.Partial("../Iteration/_listHeadingsSortable", Model)
        }
        else
        {
            @Html.Partial("../Iteration/_listHeadingsOrdinary", Model)
        }

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.IterationName, "Details", "Iteration", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>

        </tr>
    }

</table>
