@model IEnumerable<StatNav.WebApplication.Models.MarketingAssetPackage>

@{
    ViewBag.Title = "Marketing Asset Package";
}

<h4>Marketing Asset Packages</h4>
@Html.Partial("_ExperimentTypeSelect", Model)
<p>
    @Html.ActionLink("Create New", "Create", "MarketingAssetPackage")
</p>
@Html.Partial("_searchBox")
<table class="table">
    <caption>List of Marketing Asset Packages</caption>
    <tr>
        @*<th scope="col">
            <a href="@Url.Action("Index",new { sortOrder = ViewBag.IdSortParm })">ID <span class="glyphicon glyphicon-sort"></span></a>
        </th>*@
        <th scope="col">
            <a href="@Url.Action("Index",new { sortOrder = ViewBag.NameSortParm })">Package Name <span class="glyphicon glyphicon-sort"></span></a>
        </th>
        @*<th scope="col">
            <a href="@Url.Action("Index",new { sortOrder = ViewBag.StatusSortParm })">Status <span class="glyphicon glyphicon-sort"></span></a>
        </th>*@
        <th scope="col">
            @Html.DisplayNameFor(model => model.Hypothesis)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.ActionLink(item.MAPName, "Edit", "MarketingAssetPackage", new { id = item.Id }, null)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ExperimentStatus.StatusName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Hypothesis)
            </td>

        </tr>
    }

</table>