@model IEnumerable<StatNav.WebApplication.Models.ExperimentProgramme>

@{
    ViewBag.Title = "Programmes";
}

<h2>Programmes</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Programme")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExperimentStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExperimentStatus.StatusName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Problem)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
