@model StatNav.WebApplication.Models.ExperimentProgramme
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">

            @foreach (var prop in ViewData.ModelMetadata.Properties)
            {
                //exceptions in the case statements are for the complex object types
                <dt>
                    @switch (prop.PropertyName)
                    {
                        case "ExperimentStatus":
                        case "ExperimentIterations":
                        case "ProgrammeTargetMetricModel":
                        case "ProgrammeImpactMetricModel":
                        case "UserId":
                        case "TeamId":
                            break;
                        default:
                            @(prop.DisplayName ?? prop.PropertyName)
                            break;

                    }
                </dt>
                <dd>
                    @switch (prop.PropertyName)
                    {
                        case "ProgrammeTargetMetricModelId":
                            @(Model.ProgrammeTargetMetricModel != null ? Model.ProgrammeTargetMetricModel.Title : "");
                            break;
                        case "ProgrammeImpactMetricModelId":
                            @(Model.ProgrammeImpactMetricModel != null ? Model.ProgrammeImpactMetricModel.Title : "");
                            break;
                        case "ExperimentStatusId":
                            @(Model.ExperimentStatus != null ? Model.ExperimentStatus.StatusName : "");
                            break;
                        case "ExperimentStatus":
                        case "ExperimentIterations":
                        case "ProgrammeTargetMetricModel":
                        case "ProgrammeImpactMetricModel":
                        case "UserId":
                        case "TeamId":
                            break;
                        default:
                            @prop.Model
                            break;
                    }
                </dd>



            }
        </dl>
    </div>
    <div class="col-md-6">
        <h4>Iterations</h4>
        @Html.ActionLink("Create  Iteration for this Programme", "Create", "Iteration", new { programmeId = Model.Id }, null)
        @Html.Partial("../Iteration/_list", Model.ExperimentIterations)
    </div>
</div>